@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html,body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'ubuntu', sans-serif;
    width: 100%;
}

.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    box-shadow: 1px 1px yellow;
}

.input{
    background-color: blue;
}

.row{
    margin: 8px 0;
    display: flex;
}

.row button{
    flex: 1;
}

.row input{
    font-size:20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}

.cal{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 80%; */   
}