.text-center{
    text-align: center;
}

.bg-red{
    background-color: red;
}

.flex{
   display: flex;
}

.flex-col{
    flex-direction:column;
}

.item-center{
    justify-content: center;
}

.container{
    background-color: rgb(22, 18, 42);
}
.button{
    background-color: rgb(215, 229, 19);
}